* {
  box-sizing: border-box;
}
main {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: #FFFFF3;
}

nav .topnav {
  background-color:#a7bea9;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 60px;
  background-color:#a7bea9;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-position: center;
  background-image: url(https://media.istockphoto.com/photos/row-of-colorful-library-books-isolated-on-white-background-picture-id508661258?k=20&m=508661258&s=170667a&w=0&h=e_cwx9FDl8A_bxeFsKkSHtLm0m3l5gqsZYfSXwFS398=);
}
header h1{
  background-color: #FFFFF3;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  background-color:#baa88f;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: #000;
}

nav a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  width: 100%;
  text-transform: uppercase;
  background-image: url(https://previews.123rf.com/images/zoomzoom/zoomzoom2001/zoomzoom200100036/136858852-light-wooden-planks-with-smooth-surface-wood-texture-and-background.jpg);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav a:hover {
  background-color: #889d8a;
}

.row {
  display: flex;
  row-gap: 10px;
}

  article {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    width: 40%;
    border: 1px solid black;
    margin: 10px;
    background-color: #faf2c3;
    border-radius: 5px;
  }

article img {
  width: 30%;
  height: auto;
  padding-right: 10px;
 }

article h1, article h2 {
  flex: 100%;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-family:'Rasa', serif;
  background: #f6e4ad;

}
section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
section p {
    width:70%;
    height: auto;
    padding-bottom: 10px;
}

.row {
    display: flex;
    width: 100%;
  }

form {
  width: 100%;
  height: auto;
}
aside {
  width: 20%;
    display: flex;
    border-left: 1px dashed rgb(0, 0, 0);
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center;
    background: #FFFFF3;

}

h1{
  text-align: center;
  width: 100%;
}

aside.example form{
  text-align: center;
  width: 100%;
}

footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  
}

aside.example button{
float: left;
width: 20%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  article {
    width: 100%;
    height: auto;
  }
}