.UserItem {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding: 5px;
    width: 40%;
    height: 50%;
    background-image: linear-gradient(to bottom right,
     rgba(185, 185, 185, 0.4),
     rgba(112, 111, 111, 0));
    column-gap: 15px;
    margin: 5px 5px;
}


.UserItem:hover {
    background-image: linear-gradient(to bottom right, rgba(120, 120, 120, 0.4),rgba(112, 111, 111, 0));

}

.UserItem-id {
    padding-right: 10px;

}

.UserItem-button {
    font-size: 1;
    color: green;
    margin: 10px;
    cursor: pointer
}

.UserItem-button:hover {
    color: greenyellow;
}

.UserItem-button.danger {
    color: rgb(185, 0, 0);
}

.UserItem-button.danger:hover {
    color: red;
}

.UserItem-button.feature {
    color: rgb(255, 255, 255);
}

.UserItem-button.feature:hover{
    color: rgb(210, 210, 210);
}

#UserItem-id {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}