.UserList-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    font-size: 18px;
}

.UserList-users {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}

h2 {
    width: 100%;
    text-align: center;
}